# Introduction

Some example code showing how to automatically download files from a Google drive folder, then load all csv and excel into a Postgres database. The code will handle csv encoding issues as well as load all tabs in each Excel file. 

However, it is only an example and would need more work because:

- Some Excel files have more than one table on a sheet
- Many Excel files have blank rows, you'd need to scan through them with openpyxl and remove so column heading are identified
- Table names are cleaned <FILE NAME>_<SHEET NAME IF EXCEL WITH MULTIPLE SHEETS>

The examples chosen are for the Save the Children stream of the DataKind 2022 DataDive.

- [project brief](https://docs.google.com/document/d/1TQ2TiGK_k8KEIUPzVb3ZSKaxzEBP9s9ZJBI2U_HeQ6U/edit#)
- [Google drive with data](https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz)

The example is meant to show how we might load all data into a database to see how we might link data together, build classification and persist meta data. There are many other ways of course, but good 'ol SQL might be a good start!

## Setup

1. Go to the DataDive [google folder](https://drive.google.com/drive/folders/1eBQZhSeCXC9a62Dpg8_cWeKIZXfrxfGz)
2. Right-click on a sub-folder and Create a shortcut in your My Drive, eg for Kenya folder
3. Run pane to mount google drive below, connect your drive
5. Edit `dir` variable below and set path as seen in the laft pane

In [ ]:
# If you don't have these installed, uncomment these lines and run
#%pip install gdown
#%pip install chardet
#%pip install sqlalchemy
#%pip install psycopg2-binary

In [1]:
import gdown
import os
import pandas as pd
import chardet

## Examples
### Downloading a folder from gdrive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#folder_url = "https://drive.google.com/drive/folders/1G_CAhpb0xV9zRrV-T5ngA03x-IZ4tGKz?usp=share_link"
#gdown.download_folder(folder_url, quiet=True, use_cookies=False)

Mounted at /content/drive

## Reading files in a directory to pandas

This snippet will read all csv and xls files in a directory into pandas dataframes, create a list of them.

Just an example, needs a bit more logic to handle xlsx sheets which hold multiple tables, blank rows etc.

In [5]:
dir = "/content/drive/MyDrive/Kenya"

# Array of pandas dataframes
dfs = {}

for f in os.listdir(dir):
    f = f"{dir}/{f}"
    if '.csv' in f:
        print(f"Loading csv file {f}")
        # Detect encoding
        with open(f, 'rb') as rawdata:
            r = chardet.detect(rawdata.read(100000))
        dfs[f] = pd.read_csv(f, encoding=r['encoding'])
    if '.xlsx' in f:
        print(f"Leading {f} ...")
        # Read all sheets in
        sheet_to_df_map = pd.read_excel(f, sheet_name=None)
        for sheet in sheet_to_df_map:
          # TODO
          # 1. TEST FOR BLANK ROWS AT TOP, AND REMOVE
          # 2. Does the table have a blank column, if so, is it two tables on one sheet. If so handle that
          dfs[f"{f} - {sheet}"] =  sheet_to_df_map[sheet]

Leading /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx ...

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

Leading /content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx ...
Leading /content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv
Leading /content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx ...
Leading /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx ...
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv
Loading csv file /content/drive/MyDrive/Kenya/health_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv
Loading csv file /content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv
Leading /content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx ...

In [6]:
print(f"\n\nHere are the shapes of the dataframes we just loaded from directory {dir} ... \n\n")
for key in dfs:
    df = dfs[key]
    print(f"{key} >> {df.shape}")

print(f"\n\nHere are the shapes of the dataframes we just loaded from directory {dir} ... \n\n")
for key in dfs:
    df = dfs[key]
    print(f"\n\nTable {key} ....\n\n")
    display(df)

print("Done")

Here are the shapes of the dataframes we just loaded from directory /content/drive/MyDrive/Kenya ...


/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - LIST >> (1008, 5)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - FOR IMPORT >> (42, 14)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx -  food import >> (42, 3)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Org Lookup >> (65, 7)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - ABBREV >> (35, 3)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Pivot >> (3, 1)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - County - Abbrev >> (117, 1)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Sheet2 >> (63, 1)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - wash >> (43, 12)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - shelter >> (17, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - protection >> (36, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - nutrition >> (8, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - health >> (25, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - governance >> (21, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - emergency >> (33, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - food >> (10, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - edu >> (23, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - drr >> (14, 2)
/content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Table >> (44, 13)
/content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx - IPC >> (231, 55)
/content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv >> (14451, 14)
/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx - Sheet1 >> (86, 13)
/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx - Prices for Dry Beans, 2018 >> (101, 13)
/content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx - Prices for Dry Beans, 2019 >> (101, 4)
/content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx - Sheet1 >> (32, 8)
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - ken_admpop_ADM0_2019 >> (1, 71)
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - ken_admpop_ADM1_2019 >> (47, 73)
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - ken_admpop_ADM2_2019 >> (345, 74)
/content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - Metadata >> (16, 2)
/content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv >> (885, 15)
/content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx - Sheet1 >> (21, 4)
/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - Admin2 >> (290, 16)
/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - Admin1 >> (47, 14)
/content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - Admin0 >> (1, 12)
/content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv >> (292, 95)
/content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv >> (345, 97)
/content/drive/MyDrive/Kenya/health_ken.csv >> (9412, 6)
/content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv >> (183, 37)
/content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv >> (170, 12)
/content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv >> (140, 12)
/content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv >> (3, 13)
/content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv >> (47, 12)
/content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx - Sheet1 >> (8932, 22)


Here are the shapes of the dataframes we just loaded from directory /content/drive/MyDrive/Kenya ...




Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - LIST ....

,COUNTY,NAME,TYPE,ABBREV,SECTOR
0,Bungoma,United Nations Childrens Fund,UN,UNICEF,Health
1,Bungoma,United Nations Childrens Fund,UN,UNICEF,Education
2,Bungoma,United Nations Childrens Fund,UN,UNICEF,Nutrition
3,Bungoma,United Nations Childrens Fund,UN,UNICEF,Protection
4,Bungoma,United Nations Childrens Fund,UN,UNICEF,Emergency Response
...,...,...,...,...,...
1003,Tharaka - Nithi,World Food Programme,UN,WFP,Education
1004,Embu,World Food Programme,UN,WFP,Education
1005,Isiolo,World Food Programme,UN,WFP,Emergency Response
1006,Samburu,World Food Programme,UN,WFP,Nutrition
1007,Isiolo,World Food Programme,UN,WFP,Nutrition

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - FOR IMPORT ....

,COUNTY,COUNTY.1,DRR,Education,Emergency,Food,Governance,Health,logistics,Nutrition,Protection,Shelter,WaSH,Total
0,Baringo,BARINGO,1.0,2.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,1.0,2.0,5
1,Bomet,BOMET,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,2
2,Bungoma,BUNGOMA,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2
3,Busia,BUSIA,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,2
4,Elgeyo-Marakwet,ELGEYO-MARAKWET,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,2.0,NaN,1.0,3
5,Embu,EMBU,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6,Garissa,GARISSA,1.0,3.0,3.0,3.0,1.0,18.0,NaN,NaN,2.0,18.0,20.0,24
7,Homa Bay,HOMA BAY,1.0,1.0,3.0,1.0,1.0,1.0,NaN,NaN,2.0,1.0,2.0,4
8,Isiolo,ISIOLO,1.0,6.0,NaN,8.0,2.0,6.0,NaN,6.0,1.0,8.0,NaN,10
9,Kajiado,KAJIADO,NaN,2.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN,2.0,3
10,Kakamega,KAKAMEGA,NaN,1.0,NaN,NaN,NaN,2.0,NaN,1.0,1.0,NaN,1.0,2
11,Kericho,KERICHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
12,Kiambu,KIAMBU,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1
13,Kilifi,KILIFI,1.0,2.0,2.0,1.0,1.0,1.0,NaN,NaN,2.0,1.0,2.0,3
14,Kisumu,KISUMU,1.0,1.0,2.0,1.0,2.0,NaN,NaN,NaN,2.0,1.0,1.0,3
15,Kitui,KITUI,1.0,NaN,1.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,2.0,4
16,Kwale,KWALE,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,3
17,Lamu,LAMU,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2
18,Machakos,MACHAKOS,1.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,1.0,1.0,1.0,3
19,Makueni,MAKUENI,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1
20,Mandera,MANDERA,NaN,3.0,1.0,3.0,NaN,3.0,NaN,3.0,1.0,5.0,4.0,7
21,Marsabit,MARSABIT,2.0,10.0,2.0,11.0,1.0,9.0,NaN,9.0,3.0,8.0,10.0,14
22,Meru,MERU,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1
23,Migori,MIGORI,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,2
24,Mombasa,MOMBASA,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,3
25,Nairobi,NAIROBI,NaN,2.0,1.0,1.0,7.0,3.0,NaN,NaN,3.0,1.0,2.0,13
26,Nakuru,NAKURU,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,2.0,3
27,Nandi,NANDI,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN,1.0,3
28,Narok,NAROK,NaN,2.0,1.0,2.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,4
29,Nyamira,NYAMIRA,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1
30,Nyandarua,NYANDARUA,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2
31,Nyeri,NYERI,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,2
32,Samburu,SAMBURU,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,5
33,Siaya,SIAYA,2.0,2.0,2.0,1.0,1.0,1.0,NaN,NaN,3.0,1.0,1.0,4
34,Taita Taveta,TAITA TAVETA,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,2
35,Tana River,TANA RIVER,NaN,5.0,1.0,6.0,NaN,NaN,NaN,5.0,NaN,5.0,5.0,7
36,Tharaka - Nithi,THARAKA - NITHI,2.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,2.0,2
37,Trans Nzoia,TRANS NZOIA,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
38,Turkana,TURKANA,19.0,4.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0,2.0,5.0,22
39,Uasin Gishu,UASIN GISHU,NaN,NaN,2.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,4
40,Wajir,WAJIR,1.0,6.0,2.0,8.0,2.0,7.0,NaN,NaN,2.0,7.0,8.0,11
41,West Pokot,WEST POKOT,NaN,1.0,1.0,NaN,1.0,2.0,NaN,1.0,1.0,NaN,1.0,3

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx -  food import ....

             COUNTY         COUNTY.1  Food
0           Baringo          BARINGO   1.0
1             Bomet            BOMET   NaN
2           Bungoma          BUNGOMA   NaN
3             Busia            BUSIA   NaN
4   Elgeyo-Marakwet  ELGEYO-MARAKWET   NaN
5              Embu             EMBU   1.0
6           Garissa          GARISSA   3.0
7          Homa Bay         HOMA BAY   1.0
8            Isiolo           ISIOLO   8.0
9           Kajiado          KAJIADO   1.0
10         Kakamega         KAKAMEGA   NaN
11          Kericho          KERICHO   NaN
12           Kiambu           KIAMBU   NaN
13           Kilifi           KILIFI   1.0
14           Kisumu           KISUMU   1.0
15            Kitui            KITUI   2.0
16            Kwale            KWALE   1.0
17             Lamu             LAMU   NaN
18         Machakos         MACHAKOS   NaN
19          Makueni          MAKUENI   1.0
20          Mandera          MANDERA   3.0
21         Marsabit         MARSABIT  11.0
22             Meru             MERU   1.0
23           Migori           MIGORI   NaN
24          Mombasa          MOMBASA   NaN
25          Nairobi          NAIROBI   1.0
26           Nakuru           NAKURU   1.0
27            Nandi            NANDI   1.0
28            Narok            NAROK   2.0
29          Nyamira          NYAMIRA   1.0
30        Nyandarua        NYANDARUA   NaN
31            Nyeri            NYERI   NaN
32          Samburu          SAMBURU   2.0
33            Siaya            SIAYA   1.0
34     Taita Taveta     TAITA TAVETA   1.0
35       Tana River       TANA RIVER   6.0
36  Tharaka - Nithi  THARAKA - NITHI   1.0
37      Trans Nzoia      TRANS NZOIA   NaN
38          Turkana          TURKANA   4.0
39      Uasin Gishu      UASIN GISHU   1.0
40            Wajir            WAJIR   8.0
41       West Pokot       WEST POKOT   NaN

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Org Lookup ....

,Organization,Abbrev,Type,Unnamed: 3,Organization.1,Abbrev.1,Type.1
0,Action Against Hunger,ACF,INGO,NaN,Medecins Sans Frontieres,MSF,INGO
1,Action Aid Kenya,AAK,INGO,NaN,Mercy-USA,Mercy-USA,INGO
2,Africa Development Solutions,ADESO,INGO,NaN,Northerm Water Service Board,NWSB,Gov
3,Agency for Technical Cooperation and Development,ACTED,INGO,NaN,Nowregian Refugee Council,NRC,INGO
4,Aldef Kenya,AK,INGO,NaN,OXFAM,OXFAM,INGO
...,...,...,...,...,...,...,...
60,Waso Development Resource Agency,WARDA,NGO,NaN,NaN,NaN,NaN
61,Women kind Worldwide,WKW,INGO,NaN,NaN,NaN,NaN
62,World Food Programme,WFP,UN,NaN,NaN,NaN,NaN
63,World Health Organization,WHO,UN,NaN,NaN,NaN,NaN
64,World Vision International,WVI,INGO,NaN,NaN,NaN,NaN

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - ABBREV ....

                                                 Name      Abbred  Type
0                               Action Against Hunger         ACF  INGO
1    Agency for Technical Cooperation and Development       ACTED  INGO
2                                               ADESO       ADESO  INGO
3                        Africa Development Solutions       ADESO  INGO
4                                           TendeAVSI        AVSI  INGO
5                                          CHILD FUND  CHILD FUND  INGO
6   Catholic Organization for Relief and developme...     CORDAID  INGO
7                          Catholic Diocese of Lodwar         DOL   NGO
8                   Food and Agriculture Organization         FAO    UN
9                                             FilmAid     FilmAid  INGO
10                              HelpAge International     HelpAge  INGO
11                  International Labour Organization         ILO    UN
12           International Organization for Migration         IOM  INGO
13                                   Kenya Red Cross          KRC  INGO
14                                   Kenya Red Cross         KRCS  INGO
15                            Kenya Red Cross Society        KRCS  INGO
16           Lay Volunteers International Association        LVIA  INGO
17                         Norweigian Refugee Council         NRC  INGO
18                                              OXFAM       OXFAM  INGO
19                                 Plan International        Plan  INGO
20                                  Samaritan's Purse          SP  INGO
21                                           Trocaire    Trocaire  INGO
22                                           UN Women    UN Women    UN
23               United Nations Development Programme        UNDP    UN
24  United Nations Educational, Scientific and Cul...      UNESCO    UN
25        United Nations High Commission for Refugees       UNHCR    UN
26                      United Nations Childrens Fund      UNICEF    UN
27         United Nations Office for Project Services       UNOPS    UN
28                                           UN Women     UNWomen    UN
29                  US African Development Foundation     US- ADF  INGO
30                               World Food Programme         WFP    UN
31                          World Health Organization         WHO    UN
32                                       World Vision         WVI  INGO
33                                 World Vision Kenya         WVI  INGO
34                         World Vision International         WVI  INGO

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Pivot ....

        Unnamed: 0
0              NaN
1  Count of COUNTY
2              572

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - County - Abbrev ....

                                               Baringo
0                     ACTED, AVSI, KRCS, Trocaire, WVI
1                                                  NaN
2                                         Bomet, Busia
3                                            KRCS, WVI
4                                                  NaN
..                                                 ...
112  ACF, ADESO, AK, GirlKind, HelpAge, IOM, IRF, K...
113                                                NaN
114                                                NaN
115                                         West Pokot
116                                     ACF, KRCS, WVI

[117 rows x 1 columns]

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Sheet2 ....

        Unnamed: 0
0              NaN
1              NaN
2          Bungoma
3        ACF, KRCS
4              NaN
..             ...
58             NaN
59             NaN
60             NaN
61      West Pokot
62  ACF, KRCS, WVI

[63 rows x 1 columns]

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - wash ....

,County,Total Organizations,DRR/DRM,Education,Emergency Response,Food Security/Livelihoods,Governance,Health,Nutrition,Protection,Shelter & NFI,WaSH
0,Baringo,5.0,WVI,"AVSI, WVI",KRCS,Trocaire,NaN,WVI,NaN,"AVSI, WVI",ACTED,"ACTED, WVI"
1,Bomet,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,WVI,NaN,WVI
2,Bungoma,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,ACF,NaN,NaN,NaN
3,Busia,2.0,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,WVI,NaN,WVI
4,Elgeyo Marakwet,3.0,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,WVI
5,Embu,1.0,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN
6,Garissa,24.0,ADESO,"AVSI, FilmAid, WVI","FilmAid, IOM, KRCS","ADESO, FilmAid, WVI",NaN,"ACF, ASPECT, CARE, FaiDa, FilmAid, GCN, IRDO, ...",NaN,"AVSI, FilmAid","ACF, ASPECT, CARE, FaiDa, GCN, IRDO, Mercy-USA...","ACF, ADESO, ASPECT, CARE, FaiDa, FilmAid, GCN,..."
7,Homa Bay,4.0,PLAN,PLAN,"KRCS, MSF, PLAN",WVI,PLAN,WVI,NaN,"PLAN, WVI",PLAN,"PLAN, WVI"
8,Isiolo,10.0,ADESO,"AAK, ACF, DPHO, FHK, KRCS, WVI",NaN,"AAK, ACF, ADESO, DPHO, FHK, KRCS, LVIA, WVI","ADESO, CORDAID","AAK, ACF, DPHO, FHK, KRCS, WVI","AAK, ACF, DPHO, FHK, KRCS, WVI",WVI,"AAK, ACF, ADESO, DPHO, FHK, KRCS, NRC, WVI",NaN
9,Kajiado,3.0,NaN,"AVSI, WVI",KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,"AVSI, WVI"
10,Kakamega,2.0,NaN,WVI,NaN,NaN,NaN,"ACF, WVI",ACF,WVI,NaN,WVI
11,Kericho,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS
12,Kiambu,1.0,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN
13,Kilifi,3.0,PLAN,"PLAN, WVI","KRCS, PLAN",NaN,PLAN,WVI,NaN,"PLAN, WVI",PLAN,"PLAN, WVI"
14,Kisumu,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,"PLAN, WVI",NaN,NaN,"PLAN, WVI",PLAN,PLAN
15,Kitui,4.0,Trocaire,NaN,KRCS,NaN,NaN,WVI,WVI,WVI,NaN,"SP, WVI"
16,Kwale,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,PLAN,NaN,NaN,PLAN,PLAN,PLAN
17,Lamu,2.0,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,WVI,NaN,WVI
18,Machakos,3.0,PLAN,PLAN,"KRCS, PLAN",NaN,"PLAN, WVI",NaN,NaN,PLAN,PLAN,PLAN
19,Makueni,1.0,NaN,NaN,NaN,NaN,NaN,WVI,NaN,WVI,NaN,WVI
20,Mandera,7.0,NaN,"FHK, IRF, SC",KRCS,NaN,NaN,"FHK, IRF, SC","FHK, IRF, SC",HelpAge,"ACTED, FHK, IRF, NRC, SC","ACTED, FHK, IRF, SC"
21,Marsabit,14.0,"ADESO, VSF-G","ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...","IOM, KRCS",NaN,ADESO,"CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...","CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...","HelpAge, PACIDA, WVI","CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PI...","ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H..."
22,Meru,1.0,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN
23,Migori,2.0,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,WVI,NaN,WVI
24,Mombasa,3.0,NaN,NaN,KRCS,NaN,WVI,NaN,NaN,NaN,NaN,SP
25,Nairobi,13.0,NaN,NaN,KRCS,NaN,"HelpAge, IOM, NRC, SP, Trocaire, UNICEF, WVI","MSF, UNHCR, WVI",NaN,"AVSI, FilmAid, WVI",UNHCR,"ACF, UNHCR"
26,Nakuru,3.0,NaN,NaN,KRCS,WVI,NaN,WVI,NaN,WVI,NaN,"ACF, WVI"
27,Nandi,3.0,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,"AVSI, WVI",NaN,WVI
28,Narok,4.0,NaN,NaN,KRCS,"AVSI, VSF-G",WVI,WVI,NaN,"AVSI, WVI",NaN,NaN
29,Nyamira,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WVI,NaN,NaN
30,Nyandarua,2.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,AVSI,NaN,NaN
31,Nyeri,2.0,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,WVI,NaN,WVI
32,Samburu,5.0,NaN,NaN,NaN,"Ramati, WVI",NaN,NaN,NaN,WVI,ACTED,"ACTED, WVI"
33,Siaya,4.0,"PLAN, WVI","AVSI, PLAN","KRCS, PLAN",NaN,PLAN,WVI,NaN,"AVSI, PLAN, WVI",PLAN,PLAN
34,Taita Taveta,2.0,NaN,NaN,KRCS,WVI,NaN,NaN,NaN,WVI,NaN,WVI
35,Tana River,7.0,NaN,NaN,KRCS,NaN,NaN,WVI,NaN,NaN,"ACF, CPHO, GAA, IMC, WVI","ACF, CPHO, GAA, IMC, WVI"
36,Tharaka Nithi,2.0,"PLAN, Trocaire",PLAN,PLAN,NaN,PLAN,NaN,NaN,PLAN,PLAN,"PLAN, Trocaire"
37,Trans Nzoia,1.0,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Turkana,22.0,"ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...",NaN,"FilmAid, IOM, KRCS","ADESO, FilmAid, VSF-G, WVI","ADESO, Trocaire","FilmAid, UNHCR",NaN,"FilmAid, WVI","NRC, UNHCR","ADESO, FilmAid, UNHCR, UNICEF, WVI"
39,Uasin Gishu,4.0,NaN,NaN,"IOM, KRCS",NaN,WVI,NaN,NaN,WVI,NaN,NaN
40,Wajir,11.0,NaN,"AK, GirlKind, IRF, KRCS, SC, WASDA","IOM, KRCS",NaN,"ADESO, WVI","ACF, AK, GirlKind, IRF, KRCS, SC, WASDA",NaN,"HelpAge, WVI","AK, GirlKind, IRF, KRCS, SC, WASDA, WVI","ADESO, AK, GirlKind, IRF, KRCS, SC, WASDA, WVI"
41,West Pokot,3.0,NaN,NaN,KRCS,NaN,WVI,"ACF, WVI",NaN,WVI,NaN,WVI
42,Total,NaN,20,29,29,29,10,35,18,6,38,42

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - shelter ....

       Unnamed: 0                                         Unnamed: 1
0         Baringo                                              ACTED
1         Garissa  ACF, ASPECT, CARE, FaiDa, GCN, IRDO, Mercy-USA...
2        Homa Bay                                               PLAN
3          Isiolo         AAK, ACF, ADESO, DPHO, FHK, KRCS, NRC, WVI
4          Kilifi                                               PLAN
5          Kisumu                                               PLAN
6           Kwale                                               PLAN
7        Machakos                                               PLAN
8         Mandera                           ACTED, FHK, IRF, NRC, SC
9        Marsabit  CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PI...
10        Nairobi                                              UNHCR
11        Samburu                                              ACTED
12          Siaya                                               PLAN
13     Tana River                           ACF, CPHO, GAA, IMC, WVI
14  Tharaka Nithi                                               PLAN
15        Turkana                                         NRC, UNHCR
16          Wajir            AK, GirlKind, IRF, KRCS, SC, WASDA, WVI

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - protection ....

         Unnamed: 0            Unnamed: 1
0           Baringo             AVSI, WVI
1             Bomet                   WVI
2             Busia                   WVI
3   Elgeyo Marakwet             AVSI, WVI
4           Garissa         AVSI, FilmAid
5          Homa Bay             PLAN, WVI
6            Isiolo                   WVI
7           Kajiado             AVSI, WVI
8          Kakamega                   WVI
9            Kiambu                  AVSI
10           Kilifi             PLAN, WVI
11           Kisumu             PLAN, WVI
12            Kitui                   WVI
13            Kwale                  PLAN
14             Lamu                   WVI
15         Machakos                  PLAN
16          Makueni                   WVI
17          Mandera               HelpAge
18         Marsabit  HelpAge, PACIDA, WVI
19             Meru                  AVSI
20           Migori                   WVI
21          Nairobi    AVSI, FilmAid, WVI
22           Nakuru                   WVI
23            Nandi             AVSI, WVI
24            Narok             AVSI, WVI
25          Nyamira                   WVI
26        Nyandarua                  AVSI
27            Nyeri                   WVI
28          Samburu                   WVI
29            Siaya       AVSI, PLAN, WVI
30     Taita Taveta                   WVI
31    Tharaka Nithi                  PLAN
32          Turkana          FilmAid, WVI
33      Uasin Gishu                   WVI
34            Wajir          HelpAge, WVI
35       West Pokot                   WVI

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - nutrition ....

   Unnamed: 0                                         Unnamed: 1
0     Bungoma                                                ACF
1      Isiolo                     AAK, ACF, DPHO, FHK, KRCS, WVI
2    Kakamega                                                ACF
3       Kitui                                                WVI
4     Mandera                                       FHK, IRF, SC
5    Marsabit  CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...
6  Tana River                           ACF, CPHO, GAA, IMC, WVI
7  West Pokot                                                ACF

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - health ....

         Unnamed: 0                                         Unnamed: 1
0           Baringo                                                WVI
1           Bungoma                                                ACF
2             Busia                                                WVI
3   Elgeyo Marakwet                                                WVI
4           Garissa  ACF, ASPECT, CARE, FaiDa, FilmAid, GCN, IRDO, ...
5          Homa Bay                                                WVI
6            Isiolo                     AAK, ACF, DPHO, FHK, KRCS, WVI
7           Kajiado                                                WVI
8          Kakamega                                           ACF, WVI
9            Kilifi                                                WVI
10            Kitui                                                WVI
11          Makueni                                                WVI
12          Mandera                                       FHK, IRF, SC
13         Marsabit  CIFA, CONCERN, CWSK, FHK, Goal Kenya, HODI, PA...
14             Meru                                               AVSI
15           Migori                                                WVI
16          Nairobi                                    MSF, UNHCR, WVI
17           Nakuru                                                WVI
18            Nandi                                                WVI
19            Narok                                                WVI
20            Siaya                                                WVI
21     Taita Taveta                                                WVI
22          Turkana                                     FilmAid, UNHCR
23            Wajir            ACF, AK, GirlKind, IRF, KRCS, SC, WASDA
24       West Pokot                                           ACF, WVI

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - governance ....

       Unnamed: 0                                    Unnamed: 1
0           Busia                                           WVI
1         Garissa                                         ADESO
2        Homa Bay                                          PLAN
3          Isiolo                                ADESO, CORDAID
4          Kilifi                                          PLAN
5          Kisumu                                     PLAN, WVI
6           Kwale                                          PLAN
7            Lamu                                           WVI
8        Machakos                                     PLAN, WVI
9        Marsabit                                         ADESO
10         Migori                                           WVI
11        Mombasa                                           WVI
12        Nairobi  HelpAge, IOM, NRC, SP, Trocaire, UNICEF, WVI
13          Narok                                           WVI
14          Nyeri                                           WVI
15          Siaya                                          PLAN
16  Tharaka Nithi                                          PLAN
17        Turkana                               ADESO, Trocaire
18    Uasin Gishu                                           WVI
19          Wajir                                    ADESO, WVI
20     West Pokot                                           WVI

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - emergency ....

         Unnamed: 0          Unnamed: 1
0           Baringo                KRCS
1             Bomet                KRCS
2           Bungoma                KRCS
3             Busia                KRCS
4   Elgeyo Marakwet                KRCS
5           Garissa  FilmAid, IOM, KRCS
6          Homa Bay     KRCS, MSF, PLAN
7           Kajiado                KRCS
8            Kilifi          KRCS, PLAN
9            Kisumu          KRCS, PLAN
10            Kitui                KRCS
11            Kwale          KRCS, PLAN
12             Lamu                KRCS
13         Machakos          KRCS, PLAN
14          Mandera                KRCS
15         Marsabit           IOM, KRCS
16           Migori                KRCS
17          Mombasa                KRCS
18          Nairobi                KRCS
19           Nakuru                KRCS
20            Nandi                KRCS
21            Narok                KRCS
22        Nyandarua                KRCS
23            Nyeri                KRCS
24            Siaya          KRCS, PLAN
25     Taita Taveta                KRCS
26       Tana River                KRCS
27    Tharaka Nithi                PLAN
28      Trans Nzoia                KRCS
29          Turkana  FilmAid, IOM, KRCS
30      Uasin Gishu           IOM, KRCS
31            Wajir           IOM, KRCS
32       West Pokot                KRCS

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - food ....

     Unnamed: 0                                   Unnamed: 1
0       Baringo                                     Trocaire
1          Embu                                     Trocaire
2       Garissa                          ADESO, FilmAid, WVI
3      Homa Bay                                          WVI
4        Isiolo  AAK, ACF, ADESO, DPHO, FHK, KRCS, LVIA, WVI
5        Nakuru                                          WVI
6         Narok                                  AVSI, VSF-G
7       Samburu                                  Ramati, WVI
8  Taita Taveta                                          WVI
9       Turkana                   ADESO, FilmAid, VSF-G, WVI

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - edu ....

         Unnamed: 0                                         Unnamed: 1
0           Baringo                                          AVSI, WVI
1             Busia                                                WVI
2   Elgeyo Marakwet                                               AVSI
3           Garissa                                 AVSI, FilmAid, WVI
4          Homa Bay                                               PLAN
5            Isiolo                     AAK, ACF, DPHO, FHK, KRCS, WVI
6           Kajiado                                          AVSI, WVI
7          Kakamega                                                WVI
8            Kiambu                                               AVSI
9            Kilifi                                          PLAN, WVI
10           Kisumu                                               PLAN
11            Kwale                                               PLAN
12             Lamu                                                WVI
13         Machakos                                               PLAN
14          Mandera                                       FHK, IRF, SC
15         Marsabit  ADESO, CIFA, CONCERN, CWSK, FHK, Goal Kenya, H...
16             Meru                                               AVSI
17           Migori                                                WVI
18            Nandi                                               AVSI
19            Nyeri                                                WVI
20            Siaya                                         AVSI, PLAN
21    Tharaka Nithi                                               PLAN
22            Wajir                 AK, GirlKind, IRF, KRCS, SC, WASDA

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - drr ....

       Unnamed: 0                                         Unnamed: 1
0         Baringo                                                WVI
1            Embu                                           Trocaire
2         Garissa                                              ADESO
3        Homa Bay                                               PLAN
4          Isiolo                                              ADESO
5          Kilifi                                               PLAN
6          Kisumu                                               PLAN
7           Kitui                                           Trocaire
8           Kwale                                               PLAN
9        Machakos                                               PLAN
10       Marsabit                                       ADESO, VSF-G
11          Siaya                                          PLAN, WVI
12  Tharaka Nithi                                     PLAN, Trocaire
13        Turkana  ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...

Table /content/drive/MyDrive/Kenya/kenya-3w-final-list-2017.xlsx - Table ....

,County,DRR/DRM,Education,Emergency response,Food security and livelihoods,Governance,Health,logistics,Nutrition,Protection,Shelter and NFI,WaSH,Total
0,Baringo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bomet,WVI,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,WVI,NaN,WVI,2.0
2,Embu,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,Kiambu,NaN,AVSI,NaN,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,1.0
4,Kisumu,Plan,Plan,"KRCS, Plan",WVI,"CORDAID, Plan, WVI",NaN,NaN,NaN,"Plan, WVI",Plan,Plan,4.0
5,Kwale,Plan,Plan,"KRCS, Plan",SP,Plan,NaN,NaN,NaN,Plan,Plan,Plan,3.0
6,Lamu,NaN,WVI,KRCS,NaN,WVI,NaN,NaN,NaN,WVI,NaN,WVI,2.0
7,Machakos,Plan,Plan,"KRCS, Plan",NaN,"WVI, Plan",NaN,NaN,NaN,Plan,Plan,Plan,3.0
8,Mombasa,NaN,NaN,KRCS,NaN,WVI,NaN,NaN,NaN,NaN,NaN,SP,3.0
9,Nyandarua,NaN,AVSI,KRCS,NaN,NaN,NaN,NaN,NaN,AVSI,NaN,NaN,2.0
10,Samburu,NaN,"CORDAID, WVI, CF",NaN,"WVI, Ramati",NaN,NaN,NaN,NaN,WVI,ACTED,"ACTED, WVI",5.0
11,Tana River,NaN,"WVI, GAA, ACF,\nIMC, CPHO",KRCS,"SP, WVI, GAA, ACF,\nIMC, CPHO",NaN,NaN,NaN,"WVI, GAA, ACF,\nIMC, CPHO",NaN,"WVI, GAA, ACF,\nIMC, CPHO","ACF, WVI, GAA, ACF,\nIMC, CPHO",8.0
12,Trans Nzoia,NaN,NaN,KRCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Uasin Gishu,NaN,NaN,"IOM, KRCS",WVI,WVI,NaN,SP,NaN,WVI,NaN,NaN,4.0
14,Bungoma,NaN,NaN,KRCS,NaN,NaN,ACF,NaN,ACF,NaN,NaN,NaN,2.0
15,Kakamega,NaN,WVI,NaN,NaN,NaN,"ACF, WVI",NaN,ACF,WVI,NaN,WVI,2.0
16,West Pokot,NaN,WVI,KRCS,NaN,WVI,"ACF, WVI",NaN,ACF,WVI,NaN,WVI,3.0
17,Meru,NaN,AVSI,NaN,AVSI,NaN,AVSI,NaN,NaN,AVSI,NaN,NaN,1.0
18,Turkana,"ADESO, CHILD FUND, DOL, FAO, ILO, KRCS, KRCS, ...","FilmAid, WVI, UNICEF, UNHCR","FilmAid, IOM, KRCS, KRCS","ADESO, FilmAid, WVI, VSF-G","ADESO, Trocaire","FilmAid, UNHCR",NaN,NaN,"FilmAid, WVI","NRC, UNHCR","ADESO, FilmAid, WVI, UNICEF, UNHCR",23.0
19,Garissa,ADESO,"AVSI, FilmAid, WVI","FilmAid, IOM, KRCS","ADESO, FilmAid, WVI",ADESO,"FilmAid, UNHCR, CARE,\nTDH, PISP,\nFaiDa, IRDO...",NaN,NaN,"AVSI, FilmAid","NRC,UNHCR, CARE,\nTDH, PISP,\nFaiDa, IRDO,\nNW...","ADESO, FilmAid, WVI,UNHCR, CARE,\nTDH, PISP,\n...",26.0
20,Marsabit,"ADESO, VSF-G","ADESO, HODI, CIFA, WVI,\nCONCERN, FHK,\nGoal K...","IOM, KRCS","ADESO, WVI, HODI, CIFA, WVI,\nCONCERN, FHK,\nG...",ADESO,"HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...",NaN,"HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...","HelpAge, WVI","HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal Kenya, C...","ADESO, HODI, CIFA,\nWVI, CONCERN,\nFHK, Goal K...",25.0
21,Mandera,NaN,"IR, SC, FHK",KRCS,"IR, SC, FHK",NaN,"IR, SC, FHK",NaN,"IR, SC, FHK",HelpAge,"ACTED, NRC, IR, SC, FHK","ACTED, IR, SC, FHK",8.0
22,Wajir,ADESO,"WASDA, Aldef\nKenya, SC,\nGirlKind, KRCS, IR","IOM, KRCS","ADESO, WVI, WASDA, Aldef\nKenya, SC,\nGirlKind...","ADESO, WVI","WASDA, Aldef\nKenya, SC,\nGirlKind, KRCS, IR",NaN,ACF,"HelpAge, WVI","WASDA, Aldef\nKenya, SC,\nGirlKind, WV,\nKRCS, IR","ADESO, WVI, WASDA, Aldef\nKenya, SC,\nGirlKind...",13.0
23,Baringo,WVI,"AVSI, WVI",KRCS,Trocaire,NaN,WVI,NaN,NaN,"AVSI, WVI",ACTED,"ACTED, WVI",5.0
24,Busia,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,NaN,WVI,NaN,WVI,2.0
25,Elgeyo Marakwet,NaN,AVSI,KRCS,NaN,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,WVI,3.0
26,Homa Bay,Plan,Plan,"KRCS, Plan, MSF",WVI,Plan,WVI,NaN,NaN,"Plan, WVI",Plan,"Plan, WVI",5.0
27,Kajiado,NaN,"AVSI, WVI",KRCS,AVSI,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,"AVSI, WVI",3.0
28,Kilifi,Plan,"Plan, WVI","KRCS, Plan",WVI,Plan,WVI,NaN,NaN,"Plan, WVI",Plan,"Plan, WVI",4.0
29,Kitui,Trocaire,NaN,KRCS,"Trocaire, WVI",NaN,WVI,NaN,WVI,WVI,NaN,"SP, WVI",4.0
30,Makueni,NaN,NaN,NaN,WVI,NaN,WVI,NaN,NaN,WVI,NaN,WVI,1.0
31,Migori,NaN,WVI,KRCS,NaN,WVI,WVI,NaN,NaN,WVI,NaN,WVI,2.0
32,Nakuru,NaN,NaN,KRCS,WVI,NaN,WVI,NaN,NaN,WVI,NaN,"ACF, WVI",3.0
33,Nandi,NaN,AVSI,KRCS,AVSI,NaN,WVI,NaN,NaN,"AVSI, WVI",NaN,WVI,3.0
34,Narok,NaN,"AVSI, WVI",KRCS,"AVSI, VSF-G",WVI,WVI,NaN,NaN,"AVSI, WVI",NaN,NaN,4.0
35,Siaya,"Plan, WVI","AVSI, Plan","KRCS, Plan",WVI,Plan,WVI,NaN,NaN,"AVSI, Plan, WVI",Plan,Plan,4.0
36,Taita Taveta,NaN,WVI,KRCS,WVI,NaN,WVI,NaN,NaN,WVI,NaN,WVI,2.0
37,Isiolo,ADESO,"WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO",NaN,"ADESO, LVIA, WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO","ADESO, CORDAID","WVI, ACF, AAK, KRCS,\nWV, FHK, DPHO",NaN,"ACF, ACF, AAK, KRCS,\nWV, FHK, DPHO",WVI,"ACF, AAK, KRCS,\nWV, FHK, DPHO","ACF, ADESO, NRC, ACF, AAK, KRCS,\nWV, FHK, DPHO",12.0
38,Nairobi,NaN,"AVSI, UNHCR",KRCS,WVI,"HelpAge, IOM, NRC, SP, Trocaire, WVI, UNICEF","WVI, UNHCR, MSF",NaN,NaN,"AVSI, FilmAid, WVI",UNHCR,"ACF, UNHCR",NaN
39,Kericho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS,1.0
40,Nyamira,NaN,NaN,NaN,WVI,NaN,NaN,NaN,NaN,WVI,NaN,NaN,1.0
41,Nyeri,NaN,WVI,NaN,NaN,WVI,NaN,NaN,NaN,WVI,NaN,WVI,1.0
42,Tharaka,Plan,Plan,Plan,NaN,Plan,NaN,NaN,NaN,Plan,Plan,Plan,1.0
43,Tharaka Nithi,Trocaire,NaN,NaN,Trocaire,NaN,NaN,NaN,NaN,NaN,NaN,Trocaire,1.0

Table /content/drive/MyDrive/Kenya/Kenya - IPC Analysis 2017-2022.xlsx - IPC ....

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Disclaimer: All national population figures ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Source: Integrated Food Security Phase Classi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Table /content/drive/MyDrive/Kenya/wfp_food_prices_ken.csv ....

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize,KG,actual,Wholesale,KES,16.13,0.2235
2,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize (white),90 KG,actual,Wholesale,KES,1480.0,20.5041
3,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans,KG,actual,Wholesale,KES,33.63,0.4659
4,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans (dry),90 KG,actual,Wholesale,KES,3246.0,44.9705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14446,2022-07-15,Nyanza,Kisumu,Kisumu,-0.1,34.75,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0
14447,2022-07-15,Rift Valley,Uasin Gishu,Eldoret town (Uasin Gishu),0.516667,35.283333,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0
14448,2022-08-15,Nairobi,Nairobi,Nairobi,-1.283333,36.816667,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0
14449,2022-08-15,Nyanza,Kisumu,Kisumu,-0.1,34.75,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0
14450,2022-08-15,Rift Valley,Uasin Gishu,Eldoret town (Uasin Gishu),0.516667,35.283333,cereals and tubers,Maize,KG,forecast,Wholesale,KES,0.0,0.0

Table /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2017-per-kg.xlsx - Sheet1 ....

,Month/Town,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec
0,Kiambu,80,95,-,-,-,-,-,-,-,-,-,-
1,Limuru,77.5,95,-,-,-,-,-,-,-,-,-,-
2,Thika,80,80,-,-,-,-,75,70,75,80,80,110
3,Kutus,70.15,82.35,81.4,-,-,-,-,-,-,-,-,-
4,Sagana,88.43,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Gikomba,100,104.76,100,104.76,105,100,-,107.38,107.38,105,95.24,95.24
82,Kangemi,95.45,100,95.24,100,100,100,-,100,102.5,100,100,105
83,Korokocho,95.24,95.24,100,95.24,95.24,100,-,100,100,96.43,95.24,100
84,Toi,95.24,95.24,100,100,95.24,100,-,102.38,100,102.38,100,100
85,Total,87.2,93.01,93.96,97.3,105.48,105.13,96.59,89.9,87.46,96.32,103.4,104.31

Table /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2018-per-kg.xlsx - Prices for Dry Beans, 2018 ....

,Month/Town,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Akala.....................................,80.98,-,-,-,-,-,-,71.34,74.91,72.21,81.19,81.45
1,Bomet....................................,71.16,66.66,78.85,70.94,70.77,77.78,73.08,71.15,69.93,64.62,69.23,-
2,Bondo...................................,100.28,100.22,93.41,95.03,99.28,70.74,90.91,-,-,-,-,-
3,Bumala..................................,-,-,-,-,69.05,73.02,-,-,-,-,-,-
4,Bungoma Town....................,-,-,-,-,-,-,73,88.21,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Unguja..................................,98.75,98.13,95.38,100,74.44,69.33,74.11,75.28,74.17,72.63,81.68,83.33
97,Voi........................................,-,-,-,-,-,-,63.33,-,-,-,-,-
98,Wajir Town............................,-,-,-,-,-,-,-,120,-,-,-,-
99,Wote......................................,-,-,-,110,-,97.5,90,80,100,-,86.67,95
100,Total.....................................,88.1,88.74,88.84,90.52,87.5,85.03,82.07,75.72,74.55,74.42,74.95,76.8

Table /content/drive/MyDrive/Kenya/retail-prices-for-dry-beans-2019-per-kg.xlsx - Prices for Dry Beans, 2019 ....

                                    Month/Town    Jan    Feb    Mar
0     Akala...................................      -      -      -
1      Bomet..................................  72.11  71.79  71.79
2       Bondo.................................   84.9      -      -
3       Bumala................................      -      -      -
4               Bungoma Town  ................      -      -      -
..                                         ...    ...    ...    ...
96      Unguja................................  87.11      -      -
97   Voi......................................  86.67  81.11      -
98        Wajir Town..........................      -      -      -
99    Wote....................................     75     71  77.14
100                                      Total  74.64  72.59  72.15

[101 rows x 4 columns]

Table /content/drive/MyDrive/Kenya/value-of-recorded-marketed-agricultural-production-at-current-prices-2014-2018.xlsx - Sheet1 ....

,Unnamed: 0,"Value of Recorded Marketed Agricultural Production at Current Prices, 2014-2018",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,KSh Million,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,2014.0,2015.0,2016.0,2017.0,2018*
2,NaN,CEREALS-,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Maize,NaN,9604.4,8506.0,7891.2,8478.7,9986.9
4,NaN,Wheat,NaN,7618.0,8198.2,8028.1,5283.1,11744.7
5,NaN,Others,NaN,7720.8,7488.5,7266.2,5965.1,7268
6,NaN,Total ..,NaN,24943.2,24192.7,23185.4,19726.9,28999.6
7,NaN,HORTICULTURE1-,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Cut flowers,NaN,59893.1,62937.5,70829.5,82248.9,113165.2
9,NaN,Vegetables,NaN,18780.6,20939.5,23366.8,24064.6,27685.2
10,NaN,Fruits,NaN,5410.6,6561.8,7317.3,9009.3,12831.1
11,NaN,Total ..,NaN,84084.3,90438.8,101513.5,115322.8,153681.5
12,NaN,TEMPORARY INDUSTRIAL CROPS-,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Sugar-cane ..,NaN,20294.5,22397.1,24221.3,20133.8,20550.2
14,NaN,Pyrethrum,NaN,61.1,51.0,37.9,26.5,26.2
15,NaN,Others,NaN,1438.9,1516.8,1470.4,1689.7,1510.4
16,NaN,Total ..,NaN,21794.5,23964.9,25729.6,21850.0,22086.8
17,NaN,PERMANENT CROPS-,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Coffee,NaN,16634.4,12074.7,16192.3,16037.1,14837.7
19,NaN,Tea,NaN,84854.6,118391.2,116547.3,134826.0,127669.3
20,NaN,Sisal,NaN,2944.8,3595.0,4729.6,3557.8,3794.3
21,NaN,Total ..,NaN,104433.7,134060.8,137469.1,154420.9,146301.3
22,NaN,NaN,TOTAL CROPSâ€¦,235255.7,272657.3,287897.7,311320.6,351069.2
23,NaN,LIVESTOCK AND PRODUCTS-â€¦â€¦.,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,Cattle and Calves â€¦â€¦â€¦,59272.8,66216.7,84701.2,93630.2,100248.7
25,NaN,NaN,Goats and Sheepâ€¦â€¦â€¦,4249.8,4854.7,5767.4,6782.4,7758.8
26,NaN,Milk,â€¦â€¦... â€¦â€¦â€¦.,18785.0,21205.4,23020.1,20878.2,22705
27,NaN,NaN,Chicken and eggsâ€¦â€¦â€¦,7440.7,6005.9,8788.4,10674.8,12069.2
28,NaN,Others,â€¦â€¦â€¦â€¦â€¦,2124.7,2562.1,3124.9,3634.9,4040.5
29,NaN,NaN,Total ..,91873.0,100844.7,125401.9,135600.5,146822.2
30,NaN,GRAND TOTAL .. â€¦â€¦â€¦â€¦â€¦â€¦â€¦.,NaN,327128.7,373502.1,413299.6,446921.2,497891.4
31,NaN,* Provisional.,NaN,NaN,NaN,NaN,NaN,NaN

Table /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - ken_admpop_ADM0_2019 ....

,ADM0_NAME,ADM0_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,F_15_19,F_20_24,...,T_60_64,T_65_69,T_70_74,T_75_79,T_80_84,T_85_89,T_90_94,T_95_99,T_100Plus,T_Unstated
0,Kenya,KE,24014716,23548056,47562772,2986769,3085516,3136142,2599442,2334777,...,869994,658163,514522,283115,203894,113606,55097,28006,14040,682

Table /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - ken_admpop_ADM1_2019 ....

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,...,T_60_64,T_65_69,T_70_74,T_75_79,T_80_84,T_85_89,T_90_94,T_95_99,T_100Plus,T_Unstated
0,Kenya,KE,Mombasa,KE001,598046,610257,1208303,73178,65459,58280,...,16034,10243,6395,3045,1858,803,323,152,73,26
1,Kenya,KE,Kwale,KE002,441681,425121,866802,64761,65043,62091,...,16965,12853,9437,4616,3260,1604,700,306,259,12
2,Kenya,KE,Kilifi,KE003,749673,704089,1453762,99912,102458,103193,...,29594,21335,15301,8726,5336,3002,1158,667,363,17
3,Kenya,KE,Tana River,KE004,157391,158550,315941,26006,25878,22971,...,5602,3616,2904,1362,1003,484,244,104,87,6
4,Kenya,KE,Lamu,KE005,67813,76103,143916,9134,9241,8981,...,2978,2197,1738,800,517,226,125,53,49,4
5,Kenya,KE,Taita Taveta,KE006,167327,173337,340664,19300,18621,19671,...,9077,7227,5220,2960,2169,1258,499,269,127,3
6,Kenya,KE,Garissa,KE007,382344,458975,841319,54590,64189,57929,...,9420,4797,4599,1708,1980,584,470,154,90,5
7,Kenya,KE,Wajir,KE008,365840,415374,781214,61291,67049,59172,...,8030,3755,3810,1552,1565,480,347,92,39,2
8,Kenya,KE,Mandera,KE009,432444,434976,867420,86562,86574,70848,...,7842,3792,4035,1574,1928,592,519,101,74,3
9,Kenya,KE,Marsabit,KE010,216219,243548,459767,33964,36981,33482,...,6604,4013,4616,1743,1920,685,582,164,164,6
10,Kenya,KE,Isiolo,KE011,128483,139510,267993,20172,20076,18425,...,4401,2611,2422,1112,1012,470,294,122,70,1
11,Kenya,KE,Meru,KE012,777975,767698,1545673,84878,87068,97080,...,35938,29440,24639,12007,9983,5288,2827,1444,1079,30
12,Kenya,KE,Tharaka-Nithi,KE013,199406,193764,393170,20215,21488,23884,...,11107,9193,7660,4083,3145,1985,881,638,330,10
13,Kenya,KE,Embu,KE014,304367,304208,608575,30389,30246,33553,...,15174,13355,9793,5353,4589,2683,1654,868,477,7
14,Kenya,KE,Kitui,KE015,587151,549003,1136154,62618,71465,85722,...,25004,22627,19456,10519,8916,4480,3578,1438,753,10
15,Kenya,KE,Machakos,KE016,711191,710707,1421898,72770,74089,82134,...,36726,28081,19972,11081,8936,5066,3685,1772,925,18
16,Kenya,KE,Makueni,KE017,497942,489691,987633,47692,54843,67449,...,26824,22999,17029,9371,7407,4165,3408,1459,853,8
17,Kenya,KE,Nyandarua,KE018,323247,315022,638269,34632,36940,40333,...,14052,11319,9678,6714,4020,2269,1091,565,267,5
18,Kenya,KE,Nyeri,KE019,384845,374288,759133,36082,37313,37479,...,21518,18168,17194,10438,7109,3882,2093,1067,491,10
19,Kenya,KE,Kirinyaga,KE020,308369,302011,610380,28655,28536,30395,...,15874,13427,10684,5464,4439,2526,1682,844,605,9
20,Kenya,KE,Murang'a,KE021,532669,523940,1056609,54819,56687,57807,...,30447,28212,24657,14953,10123,6164,2978,1656,847,14
21,Kenya,KE,Kiambu,KE022,1230454,1187146,2417600,138012,120815,114114,...,38985,29975,23596,13520,8989,5411,2410,1478,658,48
22,Kenya,KE,Turkana,KE023,448868,478087,926955,65278,71086,67145,...,11808,8098,7523,3587,2231,1095,404,198,88,3
23,Kenya,KE,West Pokot,KE024,314213,307013,621226,56831,54220,47326,...,8242,6752,5508,2527,1557,759,396,217,146,3
24,Kenya,KE,Samburu,KE025,153546,156774,310320,25220,26167,23280,...,4619,2793,2910,1436,1169,532,244,139,54,2
25,Kenya,KE,Trans Nzoia,KE026,501206,489107,990313,64232,71287,74192,...,17889,12677,9149,5407,3500,2204,776,497,156,4
26,Kenya,KE,Uasin Gishu,KE027,582889,580269,1163158,69877,69610,73534,...,16981,12643,8697,5717,3565,2082,950,658,291,12
27,Kenya,KE,Elgeyo-Marakwet,KE028,227151,227317,454468,30346,31929,32635,...,8082,6631,5262,3051,2087,1163,535,335,153,1
28,Kenya,KE,Nandi,KE029,444430,441259,885689,52679,57623,62390,...,16048,12636,9039,5989,3646,2365,1148,808,317,2
29,Kenya,KE,Baringo,KE030,330428,336322,666750,46523,48679,49207,...,11231,8898,7502,3701,2844,1497,693,419,192,2
30,Kenya,KE,Laikipia,KE031,259102,259440,518542,32385,31814,31925,...,10567,8564,7237,4242,2583,1381,667,350,211,5
31,Kenya,KE,Nakuru,KE032,1084835,1077272,2162107,135314,132242,136219,...,33840,26554,20046,11635,7416,4297,1888,1120,556,41
32,Kenya,KE,Narok,KE033,578805,579042,1157847,93485,98516,88364,...,14373,9643,8053,4215,2999,1544,781,459,362,11
33,Kenya,KE,Kajiado,KE034,560704,557098,1117802,77385,72350,65659,...,13927,8721,6792,3398,2304,1238,638,382,261,21
34,Kenya,KE,Kericho,KE035,451008,450741,901749,54221,58524,63327,...,15737,11963,9157,4560,3528,2139,928,591,216,13
35,Kenya,KE,Bomet,KE036,441379,434287,875666,54709,60050,65402,...,14126,10667,8505,4816,3527,2298,1120,607,280,5
36,Kenya,KE,Kakamega,KE037,970406,897133,1867539,113559,134555,147002,...,42378,31654,22824,14068,9157,5381,1725,860,203,31
37,Kenya,KE,Vihiga,KE038,306323,283678,590001,32583,39257,43978,...,17993,15096,11762,7324,5279,3067,1106,516,145,9
38,Kenya,KE,Bungoma,KE039,858389,812146,1670535,110069,126486,133921,...,30767,21723,15405,9868,6737,4132,1403,718,141,8
39,Kenya,KE,Busia,KE040,467401,426252,893653,56989,64448,70116,...,18115,13216,10429,6154,4333,2714,941,399,137,9
40,Kenya,KE,Siaya,KE041,521496,471669,993165,60791,69093,75099,...,23769,20342,16566,9441,7089,4039,1336,468,158,24
41,Kenya,KE,Kisumu,KE042,594609,560942,1155551,70870,73933,82705,...,21696,16567,12768,6651,4732,2490,876,369,136,27
42,Kenya,KE,Homa Bay,KE043,592367,539560,1131927,77663,83842,90367,...,21795,17352,14234,7394,5556,3124,1049,481,190,9
43,Kenya,KE,Migori,KE044,580214,536187,1116401,81289,86241,90228,...,17109,12957,9767,5655,4037,2316,796,397,188,17
44,Kenya,KE,Kisii,KE045,661038,605784,1266822,71694,85870,97319,...,30711,21529,15544,7877,6141,3694,1489,758,391,22
45,Kenya,KE,Nyamira,KE046,314656,290907,605563,32257,39153,46267,...,16011,10869,8654,4264,3288,1898,787,413,182,4
46,Kenya,KE,Nairobi,KE047,2204376,2192452,4396828,260888,217482,193542,...,43984,26383,16354,7437,4385,2050,873,434,206,143

Table /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - ken_admpop_ADM2_2019 ....

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,ADM2_NAME,F_TL,M_TL,T_TL,F_00_04,F_05_09,...,T_60_64,T_65_69,T_70_74,T_75_79,T_80_84,T_85_89,T_90_94,T_95_99,T_100Plus,T_Unstated
0,Kenya,KE,Mombasa,KE001,Changamwe,63121,68761,131882,7287,6717,...,1546,956,494,188,132,44,30,14,7,1
1,Kenya,KE,Mombasa,KE001,Jomvu,80410,83002,163412,10388,9602,...,1749,1081,597,246,125,68,39,15,9,4
2,Kenya,KE,Mombasa,KE001,Kisauni,145176,146748,291924,18776,16505,...,3361,2130,1233,582,335,174,65,40,22,3
3,Kenya,KE,Mombasa,KE001,Likoni,123392,126962,250354,16757,14291,...,2569,1560,853,396,239,99,32,18,11,5
4,Kenya,KE,Mombasa,KE001,Mvita,78601,75565,154166,7566,7399,...,3831,2729,1979,1052,697,269,102,44,14,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Kenya,KE,Nairobi,KE047,Makadara,93157,96369,189526,9833,8543,...,2221,1480,949,389,198,95,38,18,10,3
341,Kenya,KE,Nairobi,KE047,Mathare,100028,106522,206550,12761,10482,...,1800,1065,529,184,109,47,18,12,4,3
342,Kenya,KE,Nairobi,KE047,Njiru,318809,307642,626451,39760,34782,...,5522,3045,1773,726,425,223,105,66,28,23
343,Kenya,KE,Nairobi,KE047,Starehe,101238,109173,210411,10035,8588,...,2696,1684,1022,489,262,112,43,19,10,9
344,Kenya,KE,Nairobi,KE047,Westlands,155021,153818,308839,14289,12930,...,6668,4804,3384,1904,1243,654,208,92,23,10

Table /content/drive/MyDrive/Kenya/ken_admpop_2019.xlsx - Metadata ....

,Item,Metadata
0,Country,Kenya
1,Baseline population,2019
2,Reference year of projections,2019
3,Source(s),Kenya National Bureau of Statistics
4,Source(s) Link(s),https://www.knbs.or.ke/?wpdmpro=2019-kenya-pop...
5,Methods,https://www.knbs.or.ke/?wpdmpro=2019-kenya-pop...
6,Year of publication,2019
7,ADM1 Name,County
8,ADM1 Number of units,47
9,ADM1 Age-and-Sex disaggregation,"5 year age-groups, SAD integrated"
10,ADM1 Open-ended group,100+
11,ADM2 Name,Sub-county
12,ADM2 Number of units,345
13,ADM2 Age-and-Sex disaggregation,"5 year age-groups, SAD integrated"
14,ADM2 Open-ended group,100+
15,Limitations of use and general Notes,NaN

Table /content/drive/MyDrive/Kenya/dbo-foodconsumptionscores.csv ....

,ADM0_NAME,ADM1_NAME,ADM2_NAME,FCS_Mean,FCS_poor,FCS_Borderline,FCS_Acceptable,Target_Group,FCS_Month,FCS_Year,Methodology,FCS_LowerThreshold,FCS_UpperThreshold,FCS_DataSource,Indicator_Type
0,Armenia,Aragatsotn,NaN,NaN,0.000000,3.128377,96.871623,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline
1,Armenia,Ararat,NaN,NaN,0.262799,1.744469,97.992732,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline
2,Armenia,Armavir,NaN,NaN,1.039385,4.820485,94.140130,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline
3,Armenia,Gergharkunik,NaN,NaN,1.163326,5.236943,93.599731,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline
4,Armenia,Kotayk,NaN,NaN,0.586704,3.999282,95.414014,Total Population by Administrative Units,8,2009,Raised Threshold: 28/42,NaN,NaN,WFP VAM Impact of the Global Financial Crisis ...,Baseline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,Yemen,Sana'a,NaN,NaN,45.376661,23.686211,30.937128,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline
881,Yemen,Shabwah,NaN,NaN,10.282276,27.549617,62.168107,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline
882,Yemen,Taizz,NaN,NaN,22.397625,25.404140,52.198235,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline
883,Yemen,NaN,NaN,NaN,22.164174,22.323650,55.512176,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline
884,Yemen,$Amanat Al Asimah,NaN,NaN,7.620284,19.938726,72.440990,Total Population by Administrative Units,12,2011,Raised Threshold: 28/42,NaN,NaN,WFP VAM The State of Food Security and Nutriti...,Baseline

Table /content/drive/MyDrive/Kenya/per-capita-food-consumption-2017-and-2018.xlsx - Sheet1 ....

,"Per Capita Food Consumption, 2017 and 2018",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Food Commodity,2017.0,2018.0,Percent change
1,Wheat and products,39.1,41.3,5.6
2,Maize and products,64.2,69.5,8.3
3,Millet and products,1.2,1.0,-16.7
4,Sorghum and products,2.2,1.9,-13.6
5,Rice & Prod (Milled Equivalent),22.7,20.6,-9.3
6,Potatoes and products,26.4,29.9,13.3
7,Cassava and products,23.1,19.8,-14.3
8,Sweet potatoes,22.2,18.0,-18.9
9,Sugar & Prod. (raw equivalent),13.5,16.3,20.7
10,"Beans, Dry & Products",16.1,16.0,-0.6
11,Tomatoes and products,6.0,8.5,41.7
12,"Onions, Dry",0.9,0.8,-11.1
13,"Vegetables, Other & Prod",23.6,32.6,38.1
14,Bananas,15.1,27.5,82.1
15,"Meat & Products, Bovine",12.6,14.0,11.1
16,"Meat & Products, Pig",0.3,0.4,33.3
17,"Meat & Products, Poultry",2.3,2.6,13
18,Milk & Prod (Excluding Butter),89.4,93.3,4.4
19,Eggs and products,1.5,1.6,6.7
20,Freshwater fish,3.1,3.1,0

Table /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - Admin2 ....

,OBJECTID *,Shape *,admin2Name_en,admin2Pcode,admin2RefName,admin2AltName1_en,admin2AltName2_en,admin1Name_en,admin1Pcode,admin0Name_en,admin0Pcode,date,validOn,validTo,Shape_Length,Shape_Area
0,1,Polygon,Ainabkoi,KE027144,<Null>,<Null>,<Null>,Uasin Gishu,KE027,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.746986,0.040829
1,2,Polygon,Ainamoi,KE035190,<Null>,<Null>,<Null>,Kericho,KE035,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.917307,0.019957
2,3,Polygon,Aldai,KE029152,<Null>,<Null>,<Null>,Nandi,KE029,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.402637,0.038000
3,4,Polygon,Alego Usonga,KE041234,<Null>,<Null>,<Null>,Siaya,KE041,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.081354,0.049357
4,5,Polygon,Awendo,KE044254,<Null>,<Null>,<Null>,Migori,KE044,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.743915,0.021365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,286,Polygon,Webuye West,KE039222,<Null>,<Null>,<Null>,Bungoma,KE039,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.010876,0.019180
286,287,Polygon,West Mugirango,KE046271,<Null>,<Null>,<Null>,Nyamira,KE046,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.630183,0.014610
287,288,Polygon,Westlands,KE047274,<Null>,<Null>,<Null>,Nairobi,KE047,Kenya,KE,2017-11-03,2019-10-31,<Null>,0.405298,0.005908
288,289,Polygon,Wundanyi,KE006024,<Null>,<Null>,<Null>,Taita Taveta,KE006,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.214526,0.069243
289,290,Polygon,Yatta,KE016076,<Null>,<Null>,<Null>,Machakos,KE016,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.737731,0.086211

Table /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - Admin1 ....

,OBJECTID *,Shape *,admin1Name_en,admin1Pcode,admin1RefName,admin1AltName1_en,admin1AltName2_en,admin0Name_en,admin0Pcode,date,validOn,validTo,Shape_Length,Shape_Area
0,1,Polygon,Baringo,KE030,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.932315,0.884732
1,2,Polygon,Bomet,KE036,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.922220,0.198099
2,3,Polygon,Bungoma,KE039,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.062486,0.245058
3,4,Polygon,Busia,KE040,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.670396,0.147178
4,5,Polygon,Elgeyo-Marakwet,KE028,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.888933,0.244432
5,6,Polygon,Embu,KE014,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.386653,0.229414
6,7,Polygon,Garissa,KE007,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.490922,3.542188
7,8,Polygon,Homa Bay,KE043,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.373781,0.384444
8,9,Polygon,Isiolo,KE011,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.219754,2.063850
9,10,Polygon,Kajiado,KE034,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,7.412835,1.779183
10,11,Polygon,Kakamega,KE037,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,4.125304,0.244381
11,12,Polygon,Kericho,KE035,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.541334,0.204179
12,13,Polygon,Kiambu,KE022,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.193175,0.206629
13,14,Polygon,Kilifi,KE003,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.744543,1.025127
14,15,Polygon,Kirinyaga,KE020,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.947362,0.119858
15,16,Polygon,Kisii,KE045,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.692352,0.106739
16,17,Polygon,Kisumu,KE042,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.076286,0.216511
17,18,Polygon,Kitui,KE015,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,9.074169,2.475338
18,19,Polygon,Kwale,KE002,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.426097,0.673255
19,20,Polygon,Laikipia,KE031,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.381674,0.774807
20,21,Polygon,Lamu,KE005,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,7.980883,0.491573
21,22,Polygon,Machakos,KE016,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,6.081984,0.491164
22,23,Polygon,Makueni,KE017,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.983774,0.664603
23,24,Polygon,Mandera,KE009,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,7.282121,2.114345
24,25,Polygon,Marsabit,KE010,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,11.995362,6.185190
25,26,Polygon,Meru,KE012,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,4.400599,0.568086
26,27,Polygon,Migori,KE044,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.984960,0.255483
27,28,Polygon,Mombasa,KE001,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.820904,0.019024
28,29,Polygon,Murang'a,KE021,Muranga,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.632397,0.205194
29,30,Polygon,Nairobi,KE047,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.658061,0.057496
30,32,Polygon,Nandi,KE029,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.150416,0.230384
31,33,Polygon,Narok,KE033,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,6.986054,1.455565
32,34,Polygon,Nyamira,KE046,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.473206,0.072890
33,35,Polygon,Nyandarua,KE018,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.571838,0.265398
34,36,Polygon,Nyeri,KE019,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.096591,0.270909
35,37,Polygon,Samburu,KE025,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,8.004611,1.707814
36,38,Polygon,Siaya,KE041,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.903781,0.286005
37,39,Polygon,Taita Taveta,KE006,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,5.677845,1.394198
38,40,Polygon,Tana River,KE004,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.371749,3.185405
39,41,Polygon,Tharaka-Nithi,KE013,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.171941,0.209683
40,42,Polygon,Trans Nzoia,KE026,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,2.421398,0.201893
41,43,Polygon,Turkana,KE023,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,14.387308,5.708426
42,44,Polygon,Uasin Gishu,KE027,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,3.926051,0.275976
43,45,Polygon,Vihiga,KE038,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,1.396361,0.045533
44,46,Polygon,Wajir,KE008,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,10.004932,4.606489
45,47,Polygon,West Pokot,KE024,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,4.733996,0.756344
46,49,Polygon,Nakuru,KE032,<Null>,<Null>,<Null>,Kenya,KE,2017-11-03,2019-10-31,<Null>,6.431822,0.608283

Table /content/drive/MyDrive/Kenya/ken_adminboundaries_tabulardata.xlsx - Admin0 ....

,OBJECTID *,Shape *,admin0Name_en,admin0Pcode,admin0RefName,admin0AltName1_en,admin0AltName2_en,date,validOn,validTo,Shape_Length,Shape_Area
0,1,Polygon,Kenya,KE,<Null>,<Null>,<Null>,2017-11-03,2019-10-31,<Null>,44.052413,48.098756

Table /content/drive/MyDrive/Kenya/ken_admpop_adm0_2019.csv ....

,ADM0_NAME,ADM0_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,F_15_19,F_20_24,...,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94
0,Kenya,KE,24014716.0,23548056.0,47562772.0,2986769.0,3085516.0,3136142.0,2599442.0,2334777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Table /content/drive/MyDrive/Kenya/ken_admpop_adm1_2019.csv ....

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,Kenya,KE,Mombasa,KE001,598046.0,610257.0,1208303.0,73178.0,65459.0,58280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kenya,KE,Kwale,KE002,441681.0,425121.0,866802.0,64761.0,65043.0,62091.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kenya,KE,Kilifi,KE003,749673.0,704089.0,1453762.0,99912.0,102458.0,103193.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kenya,KE,Tana River,KE004,157391.0,158550.0,315941.0,26006.0,25878.0,22971.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kenya,KE,Lamu,KE005,67813.0,76103.0,143916.0,9134.0,9241.0,8981.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Table /content/drive/MyDrive/Kenya/health_ken.csv ....

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Kenya,KEN,2014,Proportion of women subjected to physical and/...,SG.VAW.1549.ZS,25.5
2,Kenya,KEN,2014,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,21
3,Kenya,KEN,2009,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,30.9
4,Kenya,KEN,2003,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,45.9
...,...,...,...,...,...,...
9407,Kenya,KEN,1994,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,10.33
9408,Kenya,KEN,1993,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,11.39
9409,Kenya,KEN,1992,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,11.93
9410,Kenya,KEN,1991,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,11.26
9411,Kenya,KEN,1990,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,9.99

Table /content/drive/MyDrive/Kenya/fts_incoming_funding_ken.csv ....

,date,budgetYear,description,amountUSD,srcOrganization,srcOrganizationTypes,srcLocations,srcUsageYearStart,srcUsageYearEnd,destPlan,...,firstReportedDate,decisionDate,keywords,originalAmount,originalCurrency,exchangeRate,id,refCode,createdAt,updatedAt
0,#date,#date+year+budget,#description+notes,#value+funding+total+usd,#org+name+funder,#org+type+funder+list,#country+iso3+funder+list,#date+year+start+funder,#date+year+end+funder,#activity+appeal+name,...,#date+reported,#date+decision,#description+keywords,#value+funding+total,#value+funding+total+currency,#financial+fx,#activity+id+fts_internal,#activity+code,#date+created,#date+updated
1,2022-11-03,NaN,The Kenya Cash Consortium response to the drou...,4515300,European Commission's Humanitarian Aid and Civ...,Inter-governmental,NaN,2022,2022,Kenya Drought Flash Appeal 2022,...,2022-11-03,2022-01-01,NaN,4500000,EUR,0.9966,261878,ECHO/-HF/BUD/2021/91056,2022-11-03,2022-11-03
2,2022-11-03,2022,Nutrition\tEmergency nutrition support,195771,"Canada, Government of",Government,CAN,2022,2022,Kenya Drought Flash Appeal 2022,...,2022-11-10,2022-11-03,NaN,250000,CAD,1.277,263928,P012095,2022-11-21,2022-11-21
3,2022-10-27,2022,Integrated Emergency Drought Response in Turka...,0,"Sweden, Government of",Government,SWE,2022,2022,NaN,...,2022-10-27,2022-10-27,Multiyear,0,SEK,NaN,261264,NaN,2022-10-28,2022-11-21
4,2022-10-26,NaN,Kenya\tCSP\t\tFood; logistics\tFamine Response,1268116,"Canada, Government of",Government,CAN,2022,2022,Kenya Drought Flash Appeal 2022,...,2022-10-28,2022-10-26,NaN,1750000,CAD,1.38,261606,P012091,2022-11-01,2022-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,2019-05-29,2019,Emergency aid for vulnerable internally displa...,2,"Germany, Government of",Government,DEU,2019,2022,NaN,...,2019-07-02,2019-05-29,Multiyear,2,EUR,0.897,194825,AA-S09 321.50 SOM 06/19,2019-07-03,2022-11-28
179,2019-05-29,2022,Emergency aid for vulnerable internally displa...,533636,"Germany, Government of",Government,DEU,2022,2022,Kenya Drought Flash Appeal 2022,...,2021-05-20,2019-05-29,Multiyear,479739,EUR,0.899,232033,AA-S09 321.50 SOM 06/19,2021-05-21,2022-11-28
180,2019-02-18,2018,"Strategic Outcome 2: ""targeted smallholder pro...",6849315,"Germany, Government of",Government,DEU,2018,2018,NaN,...,2019-02-18,2019-02-18,Multiyear,6000000,EUR,0.876,187421,2018.1860.8,2019-02-19,2019-02-20
181,2018-10-05,2018,Humanitarian assistance for refugees and vulne...,0,"Germany, Government of",Government,DEU,2018,2022,NaN,...,2018-10-05,2018-10-05,"Multiyear,South Sudanese Refugees,Somali Refugees",0,EUR,0.855,181167,AA-S09-72 321.50 KEN 01/18,2018-10-06,2022-09-28
182,2018-10-05,2022,Humanitarian assistance for refugees and vulne...,584795,"Germany, Government of",Government,DEU,2022,2022,South Sudan Regional Refugee Response Plan 2022,...,2020-11-29,2018-10-05,Multiyear,500000,EUR,0.855,224256,AA-S09-72 321.50 KEN 01/18,2020-11-30,2022-09-28

Table /content/drive/MyDrive/Kenya/fts_requirements_funding_globalcluster_ken.csv ....

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#date+start,#date+end,#date+year,#sector+cluster+code,#sector+cluster+name,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct
1,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,26480,Coordination and support services,300000,4173610,1391
2,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,3,Education,32500000,317029,1
3,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6,Food Security,100556862,92427141,92
4,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,7,Health,26600000,2188194,8
...,...,...,...,...,...,...,...,...,...,...,...,...
165,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,6,Food Security,161648523,107135103,66
166,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,7,Health,5690800,4957985,87
167,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,11,Water Sanitation Hygiene,3000000,2023454,67
168,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Not specified,NaN,NaN,NaN
169,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Multiple clusters/sectors (shared),NaN,0,NaN

Table /content/drive/MyDrive/Kenya/fts_requirements_funding_cluster_ken.csv ....

,countryCode,id,name,code,startDate,endDate,year,clusterCode,cluster,requirements,funding,percentFunded
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#date+start,#date+end,#date+year,#sector+cluster+code,#sector+cluster+name,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct
1,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6703,Coordination and Common Services,300000,1908218,636
2,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6710,Education,32500000,317029,1
3,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6704,Food Security and Livelihoods,100556862,92427141,92
4,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,2022-01-01,2022-10-31,2022,6708,Health,26600000,2188194,8
...,...,...,...,...,...,...,...,...,...,...,...,...
135,KEN,157,Kenya 2004,FKEN04,2004-07-01,2004-12-31,2004,NaN,Multiple clusters/sectors (shared),NaN,0,NaN
136,KEN,93,Kenya Drought Donor Alert 2002,OKEN02,2002-01-01,2002-12-31,2002,NaN,Not specified,NaN,19891797,NaN
137,KEN,93,Kenya Drought Donor Alert 2002,OKEN02,2002-01-01,2002-12-31,2002,NaN,Multiple clusters/sectors (shared),NaN,0,NaN
138,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Not specified,NaN,114513292,NaN
139,KEN,71,Kenya Drought 2001,OKEN01,2001-01-01,2001-12-31,2001,NaN,Multiple clusters/sectors (shared),NaN,0,NaN

Table /content/drive/MyDrive/Kenya/fts_requirements_funding_covid_ken.csv ....

,countryCode,id,name,code,typeId,typeName,startDate,endDate,year,requirements,funding,covidFunding,covidPercentageOfFunding
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#activity+appeal+type+id+fts_internal,#activity+appeal+type+name,#date+start,#date+end,#date+year,#value+funding+required+usd,#value+funding+total+usd,#value+funding+covid+usd,#value+funding+covid+pct
1,KEN,947,South Sudan Regional Refugee Response Plan 2020,RETHKENUGA20,111,Regional response plan,2020-01-01,2020-12-31,2020,NaN,20360944,1868458,9
2,KEN,1000,Kenya Intersectoral COVID-19 Response Plan 2020,OKEN20,1614,Other,2020-01-05,2020-12-31,2020,254870684,62447872,62105472,99

Table /content/drive/MyDrive/Kenya/fts_requirements_funding_ken.csv ....

,countryCode,id,name,code,typeId,typeName,startDate,endDate,year,requirements,funding,percentFunded
0,#country+code,#activity+appeal+id+fts_internal,#activity+appeal+name,#activity+appeal+id+external,#activity+appeal+type+id+fts_internal,#activity+appeal+type+name,#date+start,#date+end,#date+year,#value+funding+required+usd,#value+funding+total+usd,#value+funding+pct
1,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2024,NaN,1260683,NaN
2,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2023,NaN,5813525,NaN
3,KEN,1105,Kenya Drought Flash Appeal 2022,FKEN22,5,Flash appeal,2022-01-01,2022-10-31,2022,289641587,159278984,55
4,KEN,1071,South Sudan Regional Refugee Response Plan 2022,RSSDRRP22,111,Regional response plan,2022-01-01,2022-12-31,2022,115212050,219916873,191
5,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2022,NaN,22848139,NaN
6,KEN,1073,Kenya Drought Flash Appeal 2021,FKEN21,5,Flash appeal,2021-10-01,2021-12-31,2021,69749280,27058285,39
7,KEN,1019,South Sudan Regional Refugee Response Plan 2021,RETHKENUGA21,111,Regional response plan,2021-01-01,2021-12-31,2021,110470849,48146292,44
8,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2021,NaN,114303648,NaN
9,KEN,947,South Sudan Regional Refugee Response Plan 2020,RETHKENUGA20,111,Regional response plan,2020-01-01,2020-12-31,2020,NaN,20360944,NaN
10,KEN,1000,Kenya Intersectoral COVID-19 Response Plan 2020,OKEN20,1614,Other,2020-01-05,2020-12-31,2020,254870684,62447872,25
11,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2020,NaN,97069837,NaN
12,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2019,NaN,207955899,NaN
13,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2018,NaN,218208879,NaN
14,KEN,589,Kenya Flash Appeal 2017,FKEN17,5,Flash appeal,2017-02-10,2017-11-30,2017,119865259,157687513,132
15,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2017,NaN,182509148,NaN
16,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2016,NaN,209189627,NaN
17,KEN,481,South Sudan regional refugee response plan 201...,RXSSDREG15,111,Regional response plan,2015-01-01,2015-12-31,2015,92206190,34794417,38
18,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2015,NaN,172574957,NaN
19,KEN,451,South Sudan Regional Refugee Response Plan (Et...,RXSSDREG14,111,Regional response plan,2014-01-01,2014-12-31,2014,99775632,54756475,55
20,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2014,NaN,210621192,NaN
21,KEN,406,Kenya Emergency Humanitarian Response Plan 2013,CKEN13,110,CAP,2013-01-01,2013-12-31,2013,663311782,372462747,56
22,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2013,NaN,71273354,NaN
23,KEN,373,2012+ Kenya Emergency Humanitarian Response Plan,CKEN12,110,CAP,2012-01-01,2012-12-31,2012,796807640,545023141,68
24,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2012,NaN,91666002,NaN
25,KEN,353,2011+ Kenya Emergency Humanitarian Response Plan,CKEN1113,110,CAP,2011-01-01,2013-12-31,2011,741818150,532438919,72
26,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2011,NaN,113733633,NaN
27,KEN,326,Kenya Emergency Humanitarian Response Plan 2010,CKEN10,110,CAP,2010-01-01,2010-12-31,2010,603544553,399288552,66
28,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2010,NaN,18058648,NaN
29,KEN,302,Kenya Emergency Humanitarian Response Plan 2009,CKEN09,110,CAP,2009-01-01,2009-12-31,2009,469639939,490345007,104
30,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2009,NaN,44959950,NaN
31,KEN,271,Kenya Emergency Humanitarian Response Plan (Re...,FKEN08,5,Flash appeal,2008-01-01,2008-07-01,2008,207568401,136895869,66
32,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2008,NaN,122809404,NaN
33,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2007,NaN,29829365,NaN
34,KEN,218,Kenya 2006,FKEN0607,5,Flash appeal,2006-10-16,2007-04-15,2006,35252275,36914174,105
35,KEN,234,Kenya: 2006 November Floods,FKEN06,5,Flash appeal,2006-11-22,2006-12-31,2006,53744639,35343384,66
36,KEN,208,Horn of Africa 2006,CXHAF06,110,CAP,2006-01-01,2006-12-31,2006,52884862,16172826,31
37,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2006,NaN,195475639,NaN
38,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2005,NaN,19356939,NaN
39,KEN,157,Kenya 2004,FKEN04,5,Flash appeal,2004-07-01,2004-12-31,2004,83249327,46115017,55
40,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2004,NaN,15893374,NaN
41,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2003,NaN,7275889,NaN
42,KEN,93,Kenya Drought Donor Alert 2002,OKEN02,6,Other,2002-01-01,2002-12-31,2002,59482798,19891797,33
43,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2002,NaN,21149798,NaN
44,KEN,71,Kenya Drought 2001,OKEN01,6,Other,2001-01-01,2001-12-31,2001,182077601,114513292,63
45,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2001,NaN,16009306,NaN
46,KEN,NaN,Not specified,NaN,NaN,NaN,NaN,NaN,2000,NaN,7657412,NaN

Table /content/drive/MyDrive/Kenya/kenya-health-facilities-2017_08_02.xlsx - Sheet1 ....

,Code,Name,Registration_number,Keph level,Facility type,Owner,Regulatory body,Beds,Cots,County,...,Ward,Operation status,Open_whole_day,Open_public_holidays,Open_weekends,Open_late_night,Service_names,Approved,Public visible,Closed
0,22998,Kaka Medical Clinic,None,Level 2,Dispensaries and clinic-out patient only,Private Practice - Medical Specialist,None,0,0,KAKAMEGA,...,SHEYWE,Operational,No,No,No,No,NaN,Yes,Yes,No
1,22985,KOPANGA DISPENSARY,None,Level 2,Basic primary health care facility,Ministry of Health,None,2,1,MIGORI,...,WASIMBETE,Operational,No,No,No,No,NaN,Yes,Yes,No
2,22977,Fairview Medical Centre,None,Level 2,Secondary care hospitals,Private Practice - Unspecified,Nursing Council of Kenya (Private Practice),4,0,NAIROBI,...,KAYOLE SOUTH,Operational,No,No,Yes,No,NaN,Yes,Yes,No
3,22976,RADIANT GROUP OF HOSPITALS-UMOJA,None,Level 3,Secondary care hospitals,Private Practice - Unspecified,Kenya MPDB - Private Practice,34,0,NAIROBI,...,UMOJA II,Operational,Yes,Yes,Yes,Yes,NaN,Yes,Yes,No
4,22971,Songot Medical Clinic,None,Level 2,Basic primary health care facility,Private Practice - Nurse / Midwifery,None,0,0,TURKANA,...,LOKICHOGGIO,Operational,No,No,No,No,NaN,Yes,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8927,10628,Kirichu Market Medical Clinic,None,Level 2,Dispensaries and clinic-out patient only,Private Practice - Nurse / Midwifery,Nursing Council of Kenya (Private Practice),0,0,NYERI,...,KIGANJO/MATHARI,Operational,No,No,No,No,NaN,Yes,Yes,No
8928,10185,Fr Baldo Cath Disp,None,Level 2,Dispensaries and clinic-out patient only,Kenya Episcopal Conference-Catholic Secretariat,Kenya MPDB - Private Practice,0,0,NYANDARUA,...,KARAU,Operational,No,No,No,No,NaN,Yes,Yes,No
8929,11867,Ukunda Diani Catholic Dispensary,None,Level 2,Dispensaries and clinic-out patient only,Kenya Episcopal Conference-Catholic Secretariat,Kenya MPDB - Institution,0,0,KWALE,...,GAMBATO BONGWE,Operational,No,No,No,No,NaN,Yes,Yes,No
8930,10320,Holy Family Dispensary,None,Level 2,Dispensaries and clinic-out patient only,Kenya Episcopal Conference-Catholic Secretariat,Kenya MPDB - Institution,0,0,NYANDARUA,...,CENTRAL,Operational,No,No,No,No,NaN,Yes,Yes,No
8931,16500,Genesis Community Bamako Initiative,None,Level 2,Basic primary health care facility,Non-Governmental Organizations,Kenya MPDB - Institution,0,0,KIRINYAGA,...,MUTIRA,Operational,No,No,No,No,NaN,Yes,Yes,No

Done

## Loading pandas dataframes into a postgres database

Roughcode for how one might load all the dataframes into a SQL database. You can install postgres locally, or use docker and run [this](https://hub.docker.com/_/postgres).

In [ ]:
from sqlalchemy import create_engine  
import sqlalchemy

# Set these for your Postgres instance
host   = 'localhost' 
dbname = 'postgres'
user   = 'postgres'
pwd    = os.getenv['PWD'] # Don't save passwords in notebooks - that's naughty! :) - use environment variables. :)
port   = '5432'

engine = create_engine('postgresql+psycopg2://' + user + ':' + pwd + '@' + host +':' + port + '/' + dbname)

for k in dfs:
    df = dfs[k]
    table = k.replace('.','').replace(' ','_').replace('-','_').replace('/','').replace(',','')[0:62]
    print(f"Loading into database table {table} ...")
    df.to_sql(table, engine, if_exists='replace')

print("Done")

Loading into database table Kenyafts_requirements_funding_covid_kencsv ...
Loading into database table Kenyadbo_foodconsumptionscorescsv ...
Loading into database table Kenyaper_capita_food_consumption_2017_and_2018xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2019_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyavalue_of_recorded_marketed_agricultural_production_at_cur ...
Loading into database table Kenyawfp_food_prices_kencsv ...
Loading into database table Kenyafts_requirements_funding_cluster_kencsv ...
Loading into database table Kenyafts_incoming_funding_kencsv ...
Loading into database table Kenyahealth_kencsv ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin2 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin1 ...
Loading into database table Kenyaken_adminboundaries_tabulardataxlsx___Admin0 ...
Loading into database table Kenyafts_requirements_funding_kencsv ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM0_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM1_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___ken_admpop_ADM2_2019 ...
Loading into database table Kenyaken_admpop_2019xlsx___Metadata ...
Loading into database table Kenyaken_admpop_adm1_2019csv ...
Loading into database table Kenyaken_admpop_adm0_2019csv ...
Loading into database table KenyaKenya___IPC_Analysis_2017_2022xlsx___IPC ...
Loading into database table Kenyaretail_prices_for_dry_beans_2018_per_kgxlsx___Prices_for_ ...
Loading into database table Kenyafts_requirements_funding_globalcluster_kencsv ...
Loading into database table Kenyakenya_health_facilities_2017_08_02xlsx___Sheet1 ...
Loading into database table Kenyaretail_prices_for_dry_beans_2017_per_kgxlsx___Sheet1 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___LIST ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___FOR_IMPORT ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx____food_import ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Org_Lookup ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___ABBREV ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Pivot ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___County___Abbrev ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Sheet2 ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___wash ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___shelter ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___protection ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___nutrition ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___health ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___governance ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___emergency ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___food ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___edu ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___drr ...
Loading into database table Kenyakenya_3w_final_list_2017xlsx___Table ...
Done

## Query from the database

In [ ]:
query = ' SELECT * FROM public."Kenyakenya_3w_final_list_2017xlsx___drr"'
df = pd.read_sql(query, con=engine)
display(df)

    index     Unnamed: 0                                         Unnamed: 1
0       0        Baringo                                                WVI
1       1           Embu                                           Trocaire
2       2        Garissa                                              ADESO
3       3       Homa Bay                                               PLAN
4       4         Isiolo                                              ADESO
5       5         Kilifi                                               PLAN
6       6         Kisumu                                               PLAN
7       7          Kitui                                           Trocaire
8       8          Kwale                                               PLAN
9       9       Machakos                                               PLAN
10     10       Marsabit                                       ADESO, VSF-G
11     11          Siaya                                          PLAN, WVI
12     12  Tharaka Nithi                                     PLAN, Trocaire
13     13        Turkana  ADESO, CF, DOL, FAO, ILO, KRCS, OXFAM, Trocair...

### Select all column names in the files which uploaded ok

In [ ]:
query = ' SELECT * FROM information_schema.columns'
df = pd.read_sql(query, con=engine)
display(df)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,public,Kenyakenya_3w_final_list_2017xlsx___Table,Total,14,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,pg_catalog,pg_statistic,stanumbers5,26,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,pg_catalog,pg_statistic,stavalues1,27,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,pg_catalog,pg_statistic,stavalues2,28,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,pg_catalog,pg_statistic,stavalues3,29,None,YES,anyarray,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,postgres,information_schema,sql_parts,feature_id,1,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2844,postgres,pg_catalog,pg_partitioned_table,partexprs,8,None,YES,pg_node_tree,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2845,postgres,information_schema,sql_parts,feature_name,2,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2846,postgres,information_schema,sql_parts,is_supported,3,None,YES,character varying,3.0,1.200000e+01,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2847,postgres,information_schema,sql_parts,is_verified_by,4,None,YES,character varying,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES